/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap'); 

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
  min-width: 700px ;
}
header .container {
  min-width: 540px ;
  flex-grow: 1;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
nav div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.profile-pic-popup{
  transform: translate(30vw, -100px);
  width: 200px;
  height: 260px;
  opacity: 1;
  border-radius: 5px;
  padding: 0;
  border: none;
  
}
.profile-pic-popup::backdrop{
  background-color: rgba(0, 0, 0, 0.476);
}
.profile-pic-popup div{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.profile-pic-popup img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}
.profile-pic-popup .options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
.profile-pic-popup button{
  margin: 0;
  display: inline-block;
  flex-direction: column;
  align-items: center;

}

.profile-pic-div{
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-pic-div span{
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transform: scale(1.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-pic-div img{
  height: 44px;
  width: 44px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  transition: all .3s ease;
}
.profile-pic-div img:hover{
  transform: scale(1.2);
  opacity: 0.7;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute; /*position: absolute property positions an element relative to its closest positioned ancestor or to the initial containing block if there is no positioned ancestor. */
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin: 10px , 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /*box-sizing: border-box;, padding and borders are included in the specified width and height of the element.*/
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
div.error {
  position: relative;
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
  font-size: 0.7em;
}
input.error {
  border: 1px solid var(--error);
}
i.error{
  color: var(--error);
  position: absolute;
  top: 5px;
  right:5px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 40%;
}
i.error:hover{
  outline: 1px solid #e6366e5e;
}

nav a, nav button {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
.google-Oauth-btn{
  display: flex;
  width: 50%;
  margin: 5px auto;
  padding: 0;
  height: 44px;
  border: 2px solid var(--primary);
}
.google-Oauth-btn .logo{
  color: var(--primary);
  background-color: white;
  height: 100%;
  aspect-ratio: 1/1;
  font-size: 26px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.google-Oauth-btn i{
  margin: auto;
}
.google-Oauth-btn .text{
  color: white;
  flex-grow: 1;
  margin: auto;
  font-size: 14px;
}

button:active {
  background-color: #1aac839d;
}

.transcript-text{
  position: relative;
  background-color: rgb(247, 247, 247);
  border: 2px solid rgba(0, 0, 0, 0.344);
  font-size: 0.7em;
  border-radius: 4px;
  margin-top: 10px;
  padding: 6px 10px 6px 2px;
  box-sizing: border-box;
}
.transcript-text i{
  color: #555;
  position: absolute;
  top: 2px;
  right:2px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 40%;
}
.transcript-text i:hover{
outline: 1px solid #555;
}
.transcript-component button{
  display: inline;
  margin-right: 10px;
}
form.create{
  min-width: 260px;
  max-width: 300px;
}
button.analyze-btn{
  min-width: none;
}
/* .analyze-btn{
  color: black;
  position: relative;
  left: 55px;
} */

.workouts{
  min-width: 300px;
}
canvas {
  /* width: 200px;
  height: 200px; */
  /* border: 2px solid black; */
  border-radius: 5px;
}